[submodule "vedu-frontend"]
	path = vedu-frontend
	url = https://github.com/Ali-Rhayem/vedu-frontend.git
[submodule "vedu-backend"]
	path = vedu-backend
	url = https://github.com/Ali-Rhayem/vedu-backend.git
[submodule "vedu-admin"]
	path = vedu-admin
	url = https://github.com/Ali-Rhayem/vedu-admin.git
[submodule "vedu-backend-node"]
	path = vedu-backend-node
	url = https://github.com/Ali-Rhayem/vedu-backend-node.git
